---
import Hero from "../components/Hero.astro";
import Panorama from "../components/Panorama.astro";
import Schedule from "../components/Schedule.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <Hero />
    <Panorama />
    <Schedule />
    <ContactForm />
  </main>
  <Footer />
</MainLayout>
